.nav-ripple-container{
  cursor: pointer;
  text-align: center;

  line-height: 50px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}